html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  background-color: black;
  color: white;
  zoom: 0.7;
  zoom: 80%;
}

.imgHeader {
  background-image: url("../assets/images/header-main.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 335px;
  width: 100%;
}

h2 {
  font-size: 34px;
}

ul {
  font-size: 25px;
}

#gameScreen {
  display: none;
}

.mourn, .talk, .restartGame, .crossRiver {
  display: none;
}

.randomEvent {
  text-align: center;
  border: double 2px #ffe600;
  height: 122px;
  min-height: 61px;
}

.statsBox {
  margin-top: 30px;
  border-top-style: double;
  border-right-style: double;
  border-bottom-style: double;
  border-color: #ffe600;
  border-size: 3px;
  height: auto;
  min-height: 524px;
}

.statsBox h2 {
  color: #ffe600;
  margin: 10px 0;
}

.statsBox h1 {
  margin: 0;
  font-size: 50px;;
  color: #ff0101;
}

input[type = "text"] {
  background-color: rgba(254, 250, 250, 0.108);
  border-bottom: line 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  width: 300px;
  font-size: 30px;
  height: 35px;
  margin-bottom: 5px;
}

label {
  font-size: 18px;
}

h1#start{
  /*color: #F45116;*/
  color: #ffe600;
  font-size: 45px;
  margin-bottom: -6px;;
}


.btn, button {
  color: rgb(255, 255, 255);
  background-color: #c10a00;
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: solid 5px #ffffff;
  width: 172px;
}

button {
  margin-top: 15px;
}

.btn:hover {
  background-color: #ffe600;
  color: white;
}

#trailScreen {
  padding-top: 35px;
  padding-left: 35px;
}

.restOutcome, .trailOutcome, .healOutcome, .mournOutcome, .huntOutcome, .gameOverLoseMessage, .gameOverWinScreen {
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid 3px blue;
  border-radius: 5px;
  padding-left: 20px;
}

.options {
  margin-top: 20px;
}

.btn {
  margin-right: 5px;
}

span#randomEventMessage {
  font-size: 40px;
  padding-top: 20px;
}

.events {
  font-size: 40px;
}

.playAgain {
  margin-top: 40px;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

#checkPoint {
  font-size: 40px;
  color: #D103D5;
}

#memberSick {
  color: #00C100;
}

#foodZero, #medicineZero {
  color: red;
}
